<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7LRPQHKTJK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7LRPQHKTJK');
  </script>

  <title>dgist info</title>

  <!-- Bootstrap core CSS -->

  <!--커스텀 css파일-->
  <link href="css/main.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </head>





<body>

<div class="container">
  <div class="row">
    <div class="col"align="left">
      <a>접속중</a>
      <script id="_waup04">var _wau = _wau || []; _wau.push(["dynamic", "9j0tx267cj", "p04", "ffffff000000", "small"]);</script>
      <script async src="//waust.at/d.js"></script>
    </div>
    <div class="col" align="right">
      <a>last update</a>
      <a id="update_date" class="text-info">updating</a>
    </div>
  </div>

</div>

<h1 class="display-4" align="center">Dgist Info</h1>



<div class="container p-4 pt-2">
  <div class="row">


    <div class="col bg-dark border text-white text-center pt-4">

      <div  align="center">대구 코로나 ↑</div>
      <div id="corona1" align="center">loading</div>

    </div>

    <div class="col bg-dark border text-white">


      <div id="wd_now1" align="center">실시간 날씨</div>
      <img id=wd_now_img width="30" height=auto style="display: block; margin: 0 auto;-webkit-filter: invert(100%);filter: invert(100%);">
      <div id="wd_now2" align="center" >loading</div>

    </div>



    <div class="col bg-dark border text-white text-center pt-2">

      <div  align="center">대기환경지수</div>
      <div id="air_condition" align="center">loading</div>
      <button href="#" data-toggle="popover" class="btn btn-outline-light text-white" title="통합대기환경지수" data-content="좋음 (0~50) ┃ 보통(51~100) ┃ 나쁨(101~250) ┃ 매우나쁨(250~)">자세히</button>

      <script>
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
      });
      </script>




</div>

    </div>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col ">
      <div id="wd00" align="center">loading</div>
      <img id=wd_img0 width="30" height=auto style="display: block; margin: 0 auto;"/>
      <div id="wd0" align="center">loading</div>

    </div>
    <div class="col ">
      <div id="wd11" align="center">loading</div>
      <img id=wd_img1 width="30" height=auto style="display: block; margin: 0 auto;"/>
      <div id="wd1" align="center">loading</div>
    </div>
    <div class="col">
      <div id="wd22" align="center">loading</div>
      <img id=wd_img2 width="30" height=auto style="display: block; margin: 0 auto;"/>
      <div id="wd2" align="center">loading</div>
    </div>
    <div class="col">
      <div id="wd33" align="center">loading</div>
      <img id=wd_img3 width="30" height=auto style="display: block; margin: 0 auto;"/>
      <div id="wd3" align="center">loading</div>
    </div>
  </div>
</div>

<script language="javascript">
  
  function showPopup1() { window.open("https://docs.google.com/gview?url=https://raw.githubusercontent.com/chanwoo99/info_website/master/food/fd1.pdf&embedded=true", "a", "width=400, height=300, left=100, top=50"); }
  function showPopup2() { window.open("https://docs.google.com/gview?url=https://raw.githubusercontent.com/chanwoo99/info_website/master/food/fd2.pdf&embedded=true", "a", "width=400, height=300, left=100, top=50"); }
  function showPopup3() { window.open("https://docs.google.com/gview?url=https://raw.githubusercontent.com/chanwoo99/info_website/master/food/fd3.pdf&embedded=true", "a", "width=400, height=300, left=100, top=50"); }

</script>

<div class="container pt-3">
  <div id="accordion">

    <div class="card" >
      <div class="card-header bg-dark text-center"style="font-style:  #FFFFFF;">
        <a class="card-link " data-toggle="collapse" href="#collapseOne" style="color:white;">
          학식 식단표
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-dark" onclick="showPopup1();">교직원</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-dark" onclick="showPopup2();">연구동</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-dark" onclick="showPopup3();">학생 식당</button>
            </div>
          </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" style="background-color: #FFFFFF;">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color:black;">
          학교 웹사이트 바로가기
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body text-center">

          
          <div class="btn-group">
            <div class="btn-group">
              <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                 홈페이지
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" onclick = "location.href = 'https://www.dgist.ac.kr/kr/intro2020.html'">디지스트</a>
                <a class="dropdown-item" onclick = "location.href = 'https://www.dgist.ac.kr/college/'">기초학부</a>
                <a class="dropdown-item" onclick = "location.href = 'https://www.dgist.ac.kr/adm/'">입학</a>
                <a class="dropdown-item" onclick = "location.href = 'https://dorm.dgist.ac.kr/home/main.jsp'">기숙사</a>
              </div>
            </div>


            <div class="btn-group">
              <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                 개인별
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" onclick = "location.href = 'https://www.dgist.ac.kr/kr/intro2020.html'">마이디지</a>
                <a class="dropdown-item" onclick = "location.href = 'https://www.dgist.ac.kr/college/'">학생정보광장</a>
              </div>
            </div>


            <button type="button" class="btn btn-dark" onclick = "location.href = 'https://mail.dgist.ac.kr/mail/login'">메일</button>
            <button type="button" class="btn btn-dark" onclick = "location.href = 'https://lms.dgist.ac.kr/'">LMS</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header bg-dark text-center">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree" style="color:white;">
          준비중
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body text-center">
          ~
        </div>
      </div>
    </div>

  </div>
</div>



  <script>

    function weather_lod() {
      var xhttp = new XMLHttpRequest();

      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var weather_data=JSON.parse(this.responseText)

        for (i=0;i<4;i++ ){
          document.getElementById("wd"+i).innerHTML ="🌡"+weather_data[i][0]["T3H"]+"°C<br>"+"🌧"+weather_data[i][0]["POP"]+"%<br>"+
          "💧"+weather_data[i][0]["REH"]+"%"
      }

        for (i=0;i<4;i++ ){
          document.getElementById("wd"+i+i).innerHTML =weather_data[i][0]["time"].slice(0,2)+"시 <br>"
      }

        for (i=0;i<4;i++ ){
          if (weather_data[i][0]["PTY"]==0){
            if (weather_data[i][0]["SKY"]==1){
              document.getElementById("wd_img"+i).src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/sky_1.svg"
            }
            else if (weather_data[i][0]["SKY"]==3){
              document.getElementById("wd_img"+i).src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/sky_3.svg"
            }
            else document.getElementById("wd_img"+i).src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/sky_4.svg"

          }

          else{
            if (weather_data[i][0]["PTY"]==1){
              document.getElementById("wd_img"+i).src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_1.svg"
            }
            else if (weather_data[i][0]["PTY"]==2 || weather_data[i][0]["PYT"]==3){
              document.getElementById("wd_img"+i).src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_2_3.svg"
            }
            else if (weather_data[i][0]["PTY"]==4){
              document.getElementById("wd_img"+i).src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_4.svg"
            }
            else if (weather_data[i][0]["PTY"]==5){
              document.getElementById("wd_img"+i).src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_5.svg"
            }
            else document.getElementById("wd_img"+i).src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_6_7.svg"

          }

      }


        } else if (this.status == 403){
          alert("forbiden")
        } else if (this.status == 404){
          alert("404 not found")
          }
      };
      xhttp.open("GET", "http://13.209.49.120:5000/weather", true);
      //xhttp.open("GET", "http://localhost:8080/weather", true);   //테스트
      xhttp.send();
    }

    function weather_now_lod() {
      var xhttp = new XMLHttpRequest();

      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var weather_now_data=JSON.parse(this.responseText)

          document.getElementById("wd_now2").innerHTML ="🌡"+weather_now_data[0][0]["T1H"]+"°C<br>"+"💧"+weather_now_data[0][0]["REH"]+"%"


          if (weather_now_data[0][0]["PTY"]==0){

            document.getElementById("wd_now_img").src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/sky_1.svg"

            }

          else{
            if (weather_now_data[0][0]["PTY"]==1){
              document.getElementById("wd_now_img").src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_1.svg"
            }
            else if (weather_now_data[0][0]["PTY"]==2 || weather_now_data[0][0]["PYT"]==3){
              document.getElementById("wd_now_img").src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_2_3.svg"
            }
            else if (weather_now_data[0][0]["PTY"]==4){
              document.getElementById("wd_now_img").src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_4.svg"
            }
            else if (weather_now_data[0][0]["PTY"]==5){
              document.getElementById("wd_now_img").src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_5.svg"
            }
            else document.getElementById("wd_now_img").src="https://raw.githubusercontent.com/chanwoo99/info_website/0b3e4bf07678b8f8079a3cf4eb9ffd5fedeaf619/templates/icon/rain_6_7.svg"

          }


        } else if (this.status == 403){
          alert("forbiden")
        } else if (this.status == 404){
          alert("404 not found")
          }
      };
      xhttp.open("GET", "http://13.209.49.120:5000/weather_now", true);
      //xhttp.open("GET", "http://localhost:8080/weather_now", true);   //테스트
      xhttp.send();
    }


    function coronadata() {
      var xhttp = new XMLHttpRequest();

      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var corona_data=JSON.parse(this.responseText)

          document.getElementById("corona1").innerHTML =corona_data["number"]+"명"
          document.getElementById("update_date").innerHTML =corona_data["date"]




        } else if (this.status == 403){
          alert("forbiden")
        } else if (this.status == 404){
          alert("404 not found")
          }
      };
      xhttp.open("GET", "http://13.209.49.120:5000/coronadata", true);
      //xhttp.open("GET", "http://localhost:8080/weather_now", true);   //테스트
      xhttp.send();
    }


    function aircondition() {
      var xhttp = new XMLHttpRequest();

      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var air_data=JSON.parse(this.responseText)

          document.getElementById("air_condition").innerHTML =air_data["value"]




        } else if (this.status == 403){
          alert("forbiden")
        } else if (this.status == 404){
          alert("404 not found")
          }
      };
      xhttp.open("GET", "http://13.209.49.120:5000/air_condition", true);
      xhttp.send();
    }



    coronadata()
    weather_lod()
    weather_now_lod()
    aircondition()
  </script>



</body>
